@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

body {
  background-color: #ffefef;
  margin: auto;
  padding: 0;
  width: 100%;
}

.zahlavi {
  margin: auto;
  width: 30%;
  text-align: center;
  padding: 30px;

}

.obsah {
  width: 60%;
  background-color: white;
  padding: 10px;
  margin: auto;
  text-align: center;
}

.pictures {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 10px 10px 40px 10px;
}

.carousel {
  height: 260px;
}

.o-nas {
  display: flex;
  flex: 1 1 50%;
  flex-wrap: wrap;
  justify-content: center;
}

.onasflex {
  width: 40%;
  padding: 5px;
  margin: auto;
  text-align: left;
}


